@media (max-width: 1600px) {}

@media (max-width: 1440px) {}

@media (max-width: 1200px) {
    //works
    .works-portfolio-line-botom {
        display: none;
    }
    .works-pride-item {
        display: inline-block;
        float: none;
    }
    //about
    .about {
        .title {}
        &-item {
            text-align: center;
            &-icon {
                display: block;
                margin: 0 auto 15px;
            }
            &-text {
                &-title {}
                p {}
            }
        }
        &-team {
            &-list-item {
                display: inline-block;
                float: none;
                margin: 0 10px 50px;
                width: 300px;
            }
        }
        &-skills {
            &-item {
                display: inline-block;
                float: none;
            }
        }
    &-clients {
        &-logo{
            &-image{
                float: none;
                min-width: 200px;
        }
        }
    }
    }
//contacts
    .contacts-form{
        input[type="email"],
        input[type="text"]{
            margin: 0 15px 30px;
            max-width: 370px;
        }
        textarea{
            max-width: 370px;
            display: block;
            margin: 0 auto 25px;
        }
    }
}

@media (max-width: 992px) {
    //services
    .services {
        &-column {
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 768px) {
    body {
        font-size: 13px;
    }
    .home-text button,
    button {
        width: 150px;
        height: 45px;
    }
    //header
    header {
        height: 70px;
        .logo {
            line-height: 50px;
        }
        .header-nav {
            padding-top: 70px;
            bottom: 0;
            left: -100%;
            width: 100%;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.9);
            transition: 0.3s ease-in;
            li {
                display: block;
                margin: 0;
                text-align: center;
                &:not(:last-child):after {
                    display: none;
                }
                a {
                    display: block;
                    &:hover {
                        background: $yellow;
                        color: $black;
                        transition: 0.3s ease;
                        text-decoration: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .burger-icon {
        display: block;
    }
    //home
    .home {
        &-text {
            h2 {
                font-size: 2.500em;
            }
        }
    }
    //works
    .works {
        &-tabs {
            ul {
                li {
                    margin: 0 5px;
                    &:not(:last-child):after {
                        display: none;
                    }
                }
            }
            .tab-image {
                display: none;
            }
            .tab-text {
                padding: 0;
                text-align: center;
                margin: 0 auto;
            }
        }
        &-portfolio {
            padding: 0 15px;
            &-line-botom {}
            &-item {
                max-width: 400px;
                margin: 0 auto 50px;
            }
        }
    }
//contacts
    .contacts-form{
        input[type="email"],
        input[type="text"]{
            margin: 0 0 30px;
        }
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-height: 567px) {
    header {
        .header-nav {
            padding-top: 50px;
            li {
                line-height: 3em;
            }
        }
    }
    //home
    .home {
        &-text {
            padding: 25px 0;
        }
    }
}
